*-x
*.7z
*.a
*.bak
*.box
*bxproj-journal
*.c.orig
*.cbproj.local
*.cpp.orig
*.class
*.crdownload
*.db
*.db3
*.dll
*.egg-info
*.etag
*.exe
*.filters
*.gcda
*.gcno
*.gcov
*.gz
*.h.orig
*.hpp.orig
*.htm
*.i686 
*.idb
*.ilk
*.lcov
*.make
*.msi
*.o
*.obj
*.pdb
*.sln
*.spec
*.sqlite
*.sqlite3
*.swp
*.tgz
*.tmp
*.user
*.user.*
*.vcproj
*.vcxproj
*.xz
*.zip
*_plugin_import.cpp
.antlr
.classpath
.dart_tool
.dub
.gradle
.idea
.packages
.project
.qmake.stash
.settings
.vagrant
.vs
.vscode
*.x86_64
__history
__pycache__
\#*\#
\.\#*
backup
bin
build
build-*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
compiled
debug
desktop.ini
dist
gradle
gradlew
gradlew.bat
Makefile*
nimcache
node_modules
obj
pubspec.lock
release
rep_*.h
target
tmp
ui_*.h
venv
